body {
    background-image: url(http://zabbyallen.com/user/pages/01.blog/27.birthday-freebie-90s-kid-wallpaper/90s-kid-wallpaper-zabby-allen.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.jumbotron {
    background-color: rgba(255, 254, 254, 0.89);
    margin-top: 20px;
    border: 10px solid rgb(248, 102, 175)
}
#display {
    background-color: blue;
}

h1 {
    font-family: 'bevan';
}

.letter-button {
    background-color: #dca8da;
    padding: 8px;
    width: 50px;
    border: 5px solid rgb(107, 106, 106);
    margin: 5px;
}

#mainSection {
    background-color: rgba(255, 255, 255, 0.801);
}
